@model DetailsViewModel

@{
    ViewBag.Title = Model.Footpath.Name;
    Layout = "_Layout";

    ViewData["link"] =  false;
}

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>

<style>
    .map {
        margin-top: 25px;
        height: 400px;
        width: 100%;
    }
</style>

<h2><a href="/@Model.Footpath.LocationName">@Model.Footpath.LocationName</a> - @Model.Footpath.Name</h2>

<hr />

<partial name="FootpathPartial" model="@Model.Footpath" view-data="@ViewData" />

<br />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h4>Latest Measurements</h4>
            <table class="table table-striped">
                <tr>
                    <th scope="col">DateTime</th>
                    <th scope="col">Measurement</th>
                    <th scope="col">Trend</th>
                </tr>
                @for(int i = 0; i < Model.Levels.Count - 1; i++)
                {
                    var level = Model.Levels[i];
                    var trend = "";

                    if (i > 0)
                    {
                        trend = (level.Measurement > Model.Levels[i + 1].Measurement ? "<ion-icon style=\"font-size: 32px; color: red;\" name=\"arrow-up-circle\"></ion-icon>" : 
                            (level.Measurement < Model.Levels[i + 1].Measurement ? "<ion-icon style=\"font-size: 32px; color: green;\" name=\"arrow-down-circle\"></ion-icon>" : 
                                "<ion-icon style=\"font-size: 32px; color: green;\" name=\"arrow-remove\"></ion-icon>"));
                    }

                    <tr>
                        <td>@level.MeasurementDateTime.ToString("HH:mm")</td>
                        <td>@(level.Measurement)m</td>
                        <td>@Html.Raw(trend)</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-lg-8">
            <h4>Map</h4>
            <div style="padding-left: 10px;" id="map" class="map"></div>
        </div>
</div>


<script type="text/javascript">
    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([@Model.Footpath.Location.Long, @Model.Footpath.Location.Lat]),
            zoom: 14
        })
    });

    var element = document.createElement('div');
    element.innerHTML = '<img src="https://cdn.mapmarker.io/api/v1/fa/stack?size=50&color=DC4C3F&icon=fa-microchip&hoffset=1" />';
    var marker = new ol.Overlay({
        position: ol.proj.fromLonLat([@Model.Footpath.Location.Long, @Model.Footpath.Location.Lat]),
        positioning: 'center-center',
        element: element,
        stopEvent: false
    });
    map.addOverlay(marker);

</script>

