@using IsItFlooded.Data
@using MoreLinq
@model IsItFlooded.Data.FloodedLocation

@{
    ViewData["Title"] = Model.Name;
    ViewData["link"] = true;
}

<h2>@Model.Name - @Model.RiverName</h2>

<hr />
<br />

@foreach (var level in Model.RiverLevelMeasurements.DistinctBy(t => t.StationRLOIid))
{
    <h5>
        <span style="font-weight: bold">@level.StationName</span> : @(level.Measurement)m
        <span title="Level Trend: @level.GetTrend()">@(level.GetTrend() == Trend.Up ? "🔼" : (level.GetTrend() == Trend.Down ? "🔽" : "↔"))</span>
        <small class="text-muted"><a href="https://flood-warning-information.service.gov.uk/station/@(level.StationRLOIid)">@level.MeasurementDateTime.ToString("yyyy-MM-dd HH:mm")</a></small>
    </h5>
}
<br />
<h4>Footpaths</h4>
@foreach (var footpath in Model.Footpaths)
{
    footpath.LocationName = Model.Name;
    <partial name="FootpathPartial" model="@footpath" view-data="@ViewData">
        <br />
    </partial>
}
